body{
	padding-top:50px;
}

.message-objects textarea{
	width:100%;
	color:black!important;
}

.message-object-id{
	color:black;
	font-size:16px;
	font-weight:bold;
}

.sortable-btn{
	min-height:33px;
	min-width:200px;
	max-width:250px;
}

.placeholder-btn{
	background-color:#e1e1e1;
}

.transfomration-display{
	background-color: #e1e1e1;
	min-height: 100px;
	padding: 15px 15px;
	margin: 15px 0px 15px 0px;
}

.save-transformer{
	width: 50%;
	margin: auto;
	display: block;
	margin-bottom: 15px;
}

.transformation-reorder-list{
	padding-top:15px;
}

.transformer-on-off-toggle{
	height:50px;
	text-align:center;
	margin-bottom:15px;
}

.add-transformer{
	position:absolute;
	bottom:0;
}

.transformer-go-edit-item .glyphicon{
	float:right;
}

.active-indicator{
	width:15px;
	height:15px;
	float:left;
	display:block;
	border-radius: 15px;
	margin:2px 2px;
}
.active-indicator.green{
	background-color:green;
}
.active-indicator.red{
	background-color:red;
}

.delete-transformer{
	font-size:20px;
	font-weight:bold;
	padding:2px 2px;
	color:#e1e1e1;
	cursor: pointer;
}
.delete-transformer:hover{
	color:black;
}