<html ng-app="captainWebhookApp">
	<head>		
		<script type="text/javascript" src="/static/js/angular.min.js"></script>
		<script type="text/javascript" src="/static/js/ui-bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/captain_webhook.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div id="header" class="navbar navbar-nav navbar-fixed-top navbar-inverse" ng-controller="captainWebhookHeader">
			<div class="container">
				<div class="navbar-left">
					<a href="#" class="navbar-brand">Captain Webhook</a>
				</div>
			</div>
		</div>
		<div id="content" class="container-fluid">
			{{.Content}}
		</div>
		<div id="footer">

		</div>
	</body>
</html>