<h2>{{transformer.name}}</h2>
<div class="col-lg-12 col-md-12 col-sm-12">
	<div class="panel panel-primary">
		<div class="panel-heading">Transformation</div>
		<div class="panel-body">
			<label for="destination-url">Destination URL</label>
			<input id="destination-url" class="form-control" ng-model="transformer.DestinationUrl"/>
			<label for="transformation-prefix">Prefix</label>
			<textarea id="transformation-prefix" class="form-control" ng-model="transformer.TemplatePrefix"></textarea>
			<label for="transformation-suffix">Suffix</label>
			<textarea id="transformation-suffix" class="form-control" ng-model="transformer.TemplateSuffix"></textarea>
			<ul sortable-object-transformations class="col-xs-12 transformation-reorder-list">
				<li class="btn btn-primary sortable-btn" id="{{item.Rel_id}}" ng-repeat="item in transformer.ObjectTransformation" data-drag="true" data-jqyoui-options ng-model="transformer.ObjectTransformation">{{item.Rel_id}}</div>
			</ul>
			<div class="transfomration-display col-xs-12 panel">
				{{transformationText}}
			</div>		
			<button type="button" class="btn btn-primary save-transformer" ng-click="saveTransformer()">Save</button>
		</div>
	</div>	
	<div class="col-xs-2">
		<div class="message-list list-group">
			<a href="#" class="list-group-item {{activeMessage.Id == message.Id ? 'active' : 'inactive'}}" ng-repeat="message in messages" ng-click="setActiveMessage(message)">Message {{$index + 1}} <p class="text-muted">{{message.Time | date : 'short'}}</p></a>
		</div>
	</div>
	<div class="col-xs-10">
		<div class="message-objects list-group col-xs-6">
			<a ng-repeat="(i, object) in activeMessage.Flat" class="list-group-item col-xs-12 {{activeRelId == object.Rel_id ? 'active' : 'inactive'}}" ng-click="setActiveMessageObject(object.Rel_id)">
				<p class="message-object-id">{{object.Rel_id}}</p>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="transformation-{{object.Rel_id}}">Transformation</label>
						<textarea id="transformation-{{object.Rel_id}}" class="form-control" ng-model="transformer.ObjectTransformation[indexOfOjbectTransformation(object.Rel_id)].Template"></textarea>
					</div>
				</div>
			</a>
		</div>
		<div class="object-properties list-group col-xs-6">
			<a ng-repeat="(k, v) in activeMessage.Flat[activeRelId].Data" class="list-group-item col-xs-12" ng-click="addProperty(activeRelId, k)">
				<span class="property-key col-xs-6">{{k}}</span>
				<span class="property-value col-xs-6">{{v}}</span>
			</a>										
		</div>
	</div>
</div>